:root {
    --c-white: hsl(0, 0%, 100%);
    --c-gray-light: hsl(212, 45%, 89%);
    --c-blue: hsl(220, 15%, 55%);
    --c-blue-dark: hsl(218, 44%, 22%);

    --w-mobile: 375px;
    --w-desktop: 1440px;

    --p-gutter: 20px;
    --p-gutter-large: 40px;

    --ff-outfit: "Outfit", sans-serif;
    --f-weight-normal: 400;
    --f-weight-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--c-blue-dark);
    font-family: var(--ff-outfit);
}

h1 {
    font-size: 1.5rem;
    font-weight: var(--f-weight-bold);
    line-height: 1.25;
}

p {
    font-family: var(--ff-outfit);
    font-size: 1rem;
    font-weight: var(--f-weight-normal);
    line-height: 1.25;
}

.site {
    background-color: var(--c-gray-light);
    height: 100vh;
    position: relative;
    width: 100vw;
}

.section {
    padding: 2rem;
    width: 100%;
}

.qr {
    background-color: var(--c-white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--p-gutter);
    left: 50%;
    max-width: 365px;
    padding: var(--p-gutter);
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.qr__image {
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.qr__image img {
    height: 100%;
    left: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
}

.qr__content {
    display: flex;
    flex-direction: column;
    gap: var(--p-gutter);
    padding: 0 var(--p-gutter);
    text-align: center;
}

.qr__text {
    color: var(--c-blue);
}


