@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-white: hsl(0, 0%, 100%);
    --c-gray: hsl(212, 45%, 89%);
    --c-blue: hsl(220, 15%, 55%);
    --c-blue-dark: hsl(218, 44%, 22%);

    --w-mobile: 375px;
    --w-desktop: 1440px;

    --p-gutter: 20px;
    --p-gutter-large: 40px;

    --ff-outfit: "Outfit", sans-serif;
    --f-weight-normal: 400;
    --f-weight-bold: 700;
}

h1 {
    color: var(--c-blue-dark);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}

p {
    color: var(--c-blue);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
} 
